*{
    box-sizing: border-box; 
}

body {
    background: #181818;
    color: #fff;
    font-family: 'Jomolhari', serif;
    padding: 0 1.5em;
}

.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.logo{
    text-align: center;
    font-size: 3em;
}

.logo span{
    color: #b70e21;
}

.contact-wrapper{
    box-shadow: 0 0 20px 0 rgba(214, 48, 49,1.0);
}

.contact-wrapper > *{
    padding: 1em;
}

.contact-form{
    background: #222222;
}

.contact-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block{
    grid-column: 1/3;
}

.contact-form form p{
    margin:0;
    padding: 1em;
}



.contact-form form input,
.contact-form form button,
.contact-form form textarea{
    width: 100%;
    padding: .7em;
    background: none;
    color: #000;
    border: none;
    border-bottom: 1px solid #d63031;
    outline: none;
}

.contact-form form button{
    background: #b70e21;
    border:0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form button:hover,
.contact-form button:focus{
    background: #d63031;
    color: #fff;
    transition:background-color 1s ease-out;
    outline: 0;
}

.contact-info{
    background: #000;
}

.contact-info h4,
.contact-info ul,
.contact-info p{
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact-info ul{
    list-style: none;
    padding: 0;
}

.contact-info ul li{
    padding: .3rem;
}

/*LARGE SCREEN*/

@media(min-width:700px){
    body{
        padding: 0 4rem;
    }

    .contact-wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contact-wrapper > *{
        padding: 2em;
    }

    .contact-wrapper h4,
    .contact-wrapper ul,
    .contact-wrapper p{
        text-align: left;
        padding: 1em;
    }
}

